/* Réinitialisation des styles par défaut du navigateur */
body, h2, table, th, td {
    margin: 0;
    padding: 0;
    border: none;
}

/* Style du corps de la page */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}
/* Style de la section "Suivi des Tâches" */
#suivi-taches {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Style du titre "Suivi des Tâches" pour le centrer au milieu */
#suivi-taches h2 {
    font-size: 24px;
    margin: 0 auto; 
    text-align: center; 
    padding: 10px 0; 
}

/* Style de la table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

/* Style de l'en-tête de la table */
table th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
}

/* Style des cellules de la table */
table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Style des lignes impaires pour améliorer la lisibilité */
table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Style des cellules du statut */
table td:last-child {
    font-weight: bold;
    color: #007bff;
}

/* Style du statut "Terminé" */
table td:last-child:contains("Terminé") {
    color: #28a745;
}

/* Style du statut "En Cours" */
table td:last-child:contains("En Cours") {
    color: #007bff;
}

/* Styles pour le bouton "Modifier" */
.modifier-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Style du bouton "Modifier" au survol */
.modifier-btn:hover {
    background-color: #0056b3;
}

/* Style du contenu principal */
main {
    flex-grow: 1; 
    padding: 20px;
} 
#taches-affectees {
    margin-bottom: 20px; /* Ajoute de l'espace en bas de la section */
}

/* Style du pied de page */
footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}
